doctype html
html(lang=`ru`)
  include ../common/head
  body
    // TODO add dynamic wrapper color
    .wrapper
      include ./header
      block content
      include ./footer
      script(src='/js/vendor.js')
      script(src='/js/main.js')
