header.header
  a.header__logo.logo(href=`/`)
    img.logo__image(src=`/img/icons/logo-image-only.svg` alt=`логотип Типотеки`)
    span.logo__name Типотека
  if user && user.isAdmin
    include header-nav-admin
  else if user && !user.isAdmin
    include header-nav-user
  else
    include header-nav-guest

  a.header__search.button.button--search(href=`/search` aria-label=`поиск по сайту`)
