doctype html
html(lang=`ru`)
  include ../../common/head
  body
    .wrapper-color
      header.header.header--error
        a.header__logo.header__logo--404.logo(href=`#`)
          img(src=`/img/icons/logo.svg` alt=`логотип Типотеки`)
        a.header__registration(href=`/register`) Регистрация
        a.header__enter(href=`/login`) Вход с паролем
        a.header__search.button.button--search(href=`/search` aria-label=`поиск по сайту`)
      main
        h1.visually-hidden Ошибка 404
        section.error
          h2.error__title.title.title--big Похоже, ошиблись адресом
          a.error__link.text.text--big(href=`/`) Вернуться на главную
      include ../../layout/footer


