doctype html
html(lang=`ru`)
  include ../../common/head
  body
    .wrapper-color
      include ../../layout/header/header-error
      main
        h1.visually-hidden Ошибка 404
        section.error
          h2.error__title.title.title--big Похоже, ошиблись адресом
          a.error__link.text.text--big(href=`/`) Вернуться на главную
      include ../../layout/footer


