doctype html
html(lang=`ru`)
  include ../../common/head
  body
    .wrapper-color
      header.header.header--error
        a.header__logo.header__logo--500.logo(href=`/`)
          img(src=`/img/icons/logo.svg` alt=`логотип Типотеки`)
        a.header__registration(href=`/register`) Регистрация
        a.header__enter(href=`/login`) Вход с паролем
        a.header__search.button.button--search(href=`/search` aria-label=`поиск по сайту`)
      main
        h1.visually-hidden Ошибка 500
        section.error.error--500
          h2.error__title.title.title--big Что-то пошло не так
          p.error__text.text.text--big
            | Причин может быть много: сервер не выдержал нагрузку или в коде ошибка.
            | Попробуйте повторить попытку позже.
          a.error__link.text.text--big(href=`/`) Вернуться на главную
      include ../../layout/footer
