head
  meta(charset=`utf-8`)
  meta(name=`viewport` content=`width=device-width,initial-scale=1`)
  meta(name=`Description` content=`Личный блог Типотека`)
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Типотека
  link(rel=`preload` href=`/fonts/Inter-Regular.woff2` as=`font` crossorigin=`anonymous`)
  link(rel=`preload` href=`/fonts/Inter-Medium.woff2` as=`font` crossorigin=`anonymous`)
  link(rel=`preload` href=`/fonts/SFProDisplay-Regular.woff2` as=`font` crossorigin=`anonymous`)
  link(rel=`stylesheet` href=`/css/style.min.css`)
  style.
    a.pagination__item--active {
      pointer-events: none;
    }
