extends ../layout/layout

block content
  main.main-page.main-page--padding
    section.main-page__category.category
      h1.category__title Категории
      .category__add-form
        form(action='/categories' method='POST')
          input#add-form-add-category(type='text' name='name' placeholder='Новая категория')
          label(for='add-form-add-category')
            span.visually-hidden Добавить категорию
          button.category__button.button.button--category(type='submit') Добавить
        if errors && errors.find(error => error.path[0] === 'name')
          .form__error-message= errors.find(error => error.path[0] === 'name').message
      if warning
        .form__error-message(style="padding: 20px 40px 16px 35px")= warning
      ul.category__list
        each category in categories
          li.category__list-item
            form(action=`/categories/${category.id}` method='POST')
              input#modify-form-category-1(type='text' name='category' value=`${category.name}`)
              label(for='modify-form-category-1')
                span.visually-hidden Редактировать категорию
              button.category__button.button.button--category(type='submit' name='action' value='add') Сохранить
              button.category__button.button.button--category(type='submit' name='action' value='delete') Удалить

