extends ../layout/layout

block content
  main.articles-category
    h1= headCategory.name
    if categories.length
      section.articles-category__theme-list
        h2.visually-hidden Список тем
        include ../common/categories-list
    section.articles-category__list.preview
      h2.visually-hidden Список превью статей
      ul(class="preview__list" style=`columns: ${articles.length === 1 ? 1 : 2}`)
        each article in articles
          include ../common/article-preview

