extends ../layout/layout.pug

block content
  main
    h1.visually-hidden Логин пользователя
    section
      .popup.popup--registration.popup--anti
        a.popup__button.button.button--popup-close(type=`button` aria-label=`Закрыть окно`)
        h2.popup__title Войти
        .popup__form.popup__form--active.form.form--log-in
          form(action=`/login` method=`POST`)
            .form__field
              label
                input(name=`email` type=`email` placeholder=`Электронная почта` required)
            .form__field
              label
                input(name=`password` type=`password` placeholder=`Пароль` required)
            if error
              .form__error-message= error
            button.form__submit-btn.form__submit-btn--log-in.button.button--colored(type=`submit`) Войти
