extends ../layout/layout.pug

block content
  main.main-page
    h1.visually-hidden Главная страница личного блога Типотека
    p
      | Это приветственный текст, который владелец блога может выбрать, чтобы описать себя 👏
    if categories.length
      section.main-page__theme-list
        h2.visually-hidden Список тем
        include ../common/categories-list
    if articles.length
      include ../common/featured
      section.main-page__list.preview
        h2.visually-hidden Список превью статей
        ul(class="preview__list" style=`columns: ${articles.length === 1 ? 1 : 2}`)
          each article in articles
            include ../common/article-preview
      .preview__toggle-wrapper
        +pagination(page, totalPages, 2, `?`)
    else
      .main-page__empty-wrapper
        p.main-page__empty-text Здесь пока пусто!

