extends ../layout/layout

block content
  main.main-page.main-page--padding
    section.main-page__notes.notes
      h1.notes__title Мои записи
      ul.notes__list
        each article in articles
          li.notes__list-item
            time.notes__item-time(datetime=`${article.createdDate}`)= new Date(article.createdDate).toLocaleDateString()
            a.notes__item-text(href=`/articles/edit/${article.id}`) #{article.title}
            form(action=`/articles/${article.id}/delete` method='POST')
              button.notes__button.button.button--close-item(type='submit')
                span.visually-hidden Закрыть строку списка

